---
Language: Cpp
BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

AlwaysBreakTemplateDeclarations: true

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true

ColumnLimit: 120
PointerAlignment: Left
SpaceInEmptyParentheses: false
...
